<body>
<app-logout></app-logout>
<button class="button" (click)="getLocation()">Location</button>
<nav>
  <ul><a class="WeatherSearch" routerLink="/weather-search">Search</a></ul>
</nav>
<h2>Weather Information</h2>

<div class="" *ngIf="weatherData" class="weather-info">
  <h2>Weather Information</h2> 
  <h3>City: {{ weatherData.name }}</h3>
  <p>Temperature: {{ weatherData.main.temp }}°C</p>
  <p>Weather Description: {{ weatherData.weather[0].description }}</p>
</div>

<div *ngIf="errorMessage">
  <p class="error-message">{{ errorMessage }}</p>
</div>

<div *ngIf="forecastData">
 
  <div *ngFor="let item of forecastData.list" class="forecast-item">
    <p><strong>Date/Time:</strong> {{ item.dt_txt }}</p>
    <p><strong>Temperature:</strong> {{ item.main.temp }}°C</p>
    <p><strong>Condition:</strong> {{ item.weather[0].description }}</p>
    <!-- Add more forecast data properties as needed -->
  </div>
</div>

<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
</body>
