.weather-info {
  background-color:grey;
  padding: 10px;
  border: 1px solid #10c8e0;
  border-radius: 4px;
  margin-bottom: 20px;
}

.forecast-item {
  background-color:grey;
  padding: 10px;
  border: 1px solid #dbaa16;
  border-radius: 4px;
  margin-bottom: 20px;
}

.error-message {
  color: #dc3545;
}
app-logout{
  position: absolute;
  top: 20px; /* Adjust the top distance as needed */
  right: 10px;
  padding: 10px 24px;
  color:black;
  background-color: blue;
}
.WeatherSearch{
  position: absolute;
  top: 20px; /* Adjust the top distance as needed */
  right: 130px;
  padding: 10px 24px;
  color:black;
  background-color: blue;

}
body {
  margin: 0;
  padding: 110px;
  background-size: cover; /* This ensures the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  font-family: Arial, sans-serif; /* Define a fallback font */
background-color: black;
}


h2{
  position: absolute;
  top: 1px;
  right: 500px;
  color: palevioletred;
}
.button{
  padding: 10px 24px;
  color:black;
  background-color: blue;
}