/* location.component.css */

/* Center the content vertically and horizontally */
.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  height: 100vh; /* Adjust to your preferred height */
  background-color: #f5f5f5; /* Set the background color */
  background-image: url(https://source.unsplash.com/random/1600x900/?weather);
}

/* Style the button */
.location-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

/* Style the button on hover */
.location-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}
