<main class="main-area">
  <div id="search">
    <svg viewBox="0 0 420 60" xmlns="http://www.w3.org/2000/svg">
      <rect class="bar"/>
      <g class="magnifier">
        <circle class="glass"/>
        <line class="handle" x1="32" y1="32" x2="44" y2="44"></line>
      </g>
      <g class="sparks">
        <circle class="spark"/>
        <circle class="spark"/>
        <circle class="spark"/>
      </g>
      <g class="burst pattern-one">
        <circle class="particle circle"/>
        <path class="particle triangle"/>
        <circle class="particle circle"/>
        <path class="particle plus"/>
        <rect class="particle rect"/>
        <path class="particle triangle"/>
      </g>
      <g class="burst pattern-two">
        <path class="particle plus"/>
        <circle class="particle circle"/>
        <path class="particle triangle"/>
        <rect class="particle rect"/>
        <circle class="particle circle"/>
        <path class="particle plus"/>
      </g>
      <g class="burst pattern-three">
        <circle class="particle circle"/>
        <rect class="particle rect"/>
        <path class="particle plus"/>
        <path class="particle triangle"/>
        <rect class="particle rect"/>
        <path class="particle plus"/>
      </g>
    </svg>
    <input [(ngModel)]="query" placeholder="Enter a location" />
    <button class="button" (click)="searchLocation()">Search</button>
  </div>
  <div *ngIf="errorMessage">
    <p class="error-message">{{ errorMessage }}</p>
  </div>
  <div *ngIf="weatherData" class="Currentdata-item">
    <h2>Weather in {{ weatherData.location.name }}, {{ weatherData.location.country }}</h2>
    <p>Temperature: {{ weatherData.current.temp_c }}°C</p>
    <p>Condition: {{ weatherData.current.condition.text }}</p>
  </div>
  <div *ngIf="forecastData">
    <div *ngFor="let day of forecastData.forecast.forecastday" class="forecast-item">
      <div class="forecast-day">
        <p><strong>Date:</strong> {{ day.date }}</p>
        <p><strong>Average Temperature:</strong> {{ day.day.avgtemp_c }}°C</p>
        <p><strong>Condition:</strong> {{ day.day.condition.text }}</p>
      </div>
    </div>
  </div>
</main>


  